__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
.env
.env.local
.pytest_cache/
*.egg-info/
dist/
build/
.streamlit/
.idea/
.vscode/
.env
.dist
